@model TourOperator.Web.Models.ModelViews.TourModelView

@{
    ViewBag.Title = "Добавить Тур";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Добавить тур</h2>

<form class="form-horizontal" role="form" action="@Url.Action()" method="POST">
    <div class="form-group">
        @Html.LabelFor(model => model.SelectedAvaliableCountryId, new Dictionary<string, object> { { "class", "col-sm-3 control-label" } })
        @Html.DropDownListFor(model => model.SelectedAvaliableCountryId, Model.AvaliableCountries, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tour.Price, new { @class = "col-sm-3 control-label" })
        @Html.TextBoxFor(model => model.Tour.Price, new Dictionary<string, object> { { "class", "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tour.Nights, new { @class = "col-sm-3 control-label" })
        @Html.TextBoxFor(model => model.Tour.Nights, new Dictionary<string, object> { { "class", "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tour.StartedOn, new { @class = "col-sm-3 control-label" })
        @Html.TextBoxFor(model => model.Tour.StartedOn, new Dictionary<string, object> { { "class", "started-on-datepicker form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tour.EndedOn, new { @class = "col-sm-3 control-label" })
        @Html.TextBoxFor(model => model.Tour.EndedOn, new Dictionary<string, object> { { "class", "ended-on-datepicker form-control" } })
    </div>

    <div class="form-group">
        @Html.ValidationSummary()
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

@section scripts
{
    <script>
        $(function () {
            $(".started-on-datepicker").datepicker();
            $(".ended-on-datepicker").datepicker();
        });
    </script>
}
