@model TourOperator.Web.Models.ModelViews.TourModelView

@{
    ViewBag.Title = "Добавить Тур";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Добавить тур</h2>

<form class="form-horizontal" role="form">
    <div class="form-group">
        @Html.LabelFor(model => model.SelectedAvaliableCountryId, new Dictionary<string, object> { { "class", "col-sm-3 control-label" } })
        @Html.DropDownListFor(model => model.SelectedAvaliableCountryId, Model.AvaliableCountries, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tour.Price, new { @class = "col-sm-3 control-label" })
        @Html.EditorFor(model => model.Tour.Price, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tour.Nights, new { @class = "col-sm-3 control-label" })
        @Html.EditorFor(model => model.Tour.Nights, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tour.StartedOn, new { @class = "col-sm-3 control-label" })
        <input type="text" class="started-on-datepicker form-control" id="Tour_StartedOn" name="Tour.StartedOn" />
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tour.EndedOn, new { @class = "col-sm-3 control-label" })
        <input type="text" class="ended-on-datepicker form-control" id="Tour_EndedOn" name="Tour.EndedOn" />
    </div>
</form>

@section scripts
{
    <script>
        $(function () {
            $(".started-on-datepicker").datepicker();
            $(".ended-on-datepicker").datepicker();
        });
    </script>
}
