@model IEnumerable<TourOperator.Domain.Data.Entities.Country>

@{
    ViewBag.Title = "Страны";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Страны</h2>

@if (TempData.Count > 0)
{
    foreach (var key in TempData.Keys)
    {
        <p class="text-warning">
            @TempData[key]            
        </p>
    }
}

<a class="btn btn-lg btn-info" href="@Url.Action("AddCountry", "Admin")">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    Добавить
</a>

<br />
<br />

<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Название</th>
            <th>Туры</th>
            <th>Команда</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <td>@country.Name</td>
                <td>@country.Tours.Count</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("EditCountry", "Admin", new { id = @country.Id })">Редактировать</a>
                    @if (country.Tours.Count > 0)
                    {
                        <a class="btn btn-danger disabled" href="@Url.Action("RemoveCountry", "Admin", new { id = @country.Id })">Удалить</a>
                    }
                    else
                    {
                        <a class="btn btn-danger" href="@Url.Action("RemoveCountry", "Admin", new { id = @country.Id })">Удалить</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-lg btn-info" href="@Url.Action("AddCountry", "Admin")">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    Добавить
</a>