@using TourOperator.Web.Models.ViewModels
@model HotelViewModel

@{
    ViewBag.Title = "Редактировать Отель";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<form class="form-horizontal" role="form" action="@Url.Action()" method="POST">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Hotel.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Hotel.Name, new { @class = "col-sm-2" })
        @Html.TextBoxFor(model => model.Hotel.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Hotel.Category, new { @class = "col-sm-2" })
        @Html.TextBoxFor(model => model.Hotel.Category, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SelectedTypeOfFoodId, new { @class = "col-sm-2" })
        @Html.DropDownListFor(model => model.SelectedTypeOfFoodId, new SelectList(Model.TypeOfFoods, "Value", "Text", Model.SelectedTypeOfFoodId), new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Hotel.Description, new { @class = "col-sm-2" })
    </div>
    <div class="form-group">
        @Html.TextAreaFor(model => model.Hotel.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.ValidationSummary()
    </div>
    <button class="btn btn-primary" type="submit">Обновить</button>
</form>

@section scripts
{
    @Html.Partial("_TinyMCE", new TinyMceViewModel { Id = "Hotel_Description" })
}