@using TourOperator.Web.Models.ViewModels
@model TourOperator.Domain.Data.Entities.TypeOfFood
@{
    ViewBag.Title = "Редактировать Тип питания";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<form class="form-horizontal" role="form" action="@Url.Action()" method="POST">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, new { @class = "col-sm-2 control-label" })
    </div>
    <div class="form-group">
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.ValidationSummary()
    </div>

    <button class="btn btn-primary" type="submit">Обновить</button>
</form>

@section scripts
{
    @Html.Partial("_CKEditor", new TinyMceViewModel { Id = "Description" })
}