@model IEnumerable<TourOperator.Domain.Data.Entities.HealthResort>

@{
    ViewBag.Title = "Курорты";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<a class="btn btn-lg btn-info" href="@Url.Action("AddHealthResort", "Admin")">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    Добавить
</a>

<br />
<br />

<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Название курорта</th>
            <th>Количество туров</th>
            <th>Команда</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var healthResort in Model)
        {
            <tr>
                <td>@healthResort.Name</td>
                <td>@healthResort.Tours.Count</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("EditHealthResort", "Admin", new { id = @healthResort.Id })">Редактировать</a>
                    <a class="btn btn-danger" href="@Url.Action("RemoveHealthResort", "Admin", new { id = @healthResort.Id })">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-lg btn-info" href="@Url.Action("AddHealthResort", "Admin")">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    Добавить
</a>