@model IEnumerable<TourOperator.Domain.Data.Entities.Tour>

@{
    ViewBag.Title = "Туры";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (TempData.Count > 0)
{
    foreach (var key in TempData.Keys)
    {
        <p class="text-warning">
            @TempData[key]
        </p>
    }
}

<a class="btn btn-lg btn-info" href="@Url.Action("AddTour", "Admin")">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    Добавить
</a>

<br />
<br />

<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Страна</th>
            <th>Количество ночей</th>
            <th>Цена</th>
            <th>Курорт</th>
            <th>Отель</th>
            <th>Команда</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tour in Model)
        {
            <tr>
                <td>@tour.Country.Name</td>
                <td>@tour.Nights</td>
                <td>@tour.Price.ToString("c")</td>
                <td>@tour.HealthResort.Name</td>
                <td>@tour.Hotel.Name</td>                
                <td>
                    <a class="btn btn-primary" href="@Url.Action("EditTour", "Admin", new { id = @tour.Id })">Редактировать</a>

                 
                    <a class="btn btn-danger" href="@Url.Action("RemoveTour", "Admin", new { id = @tour.Id })">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-lg btn-info" href="@Url.Action("AddTour", "Admin")">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    Добавить
</a>