@using TourOperator.Domain.Data.Entities
@model IEnumerable<TypeOfFood>

@{
    ViewBag.Title = "Типы питания";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<a class="btn btn-lg btn-info" href="@Url.Action("AddTypeOfFood", "Admin")">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    Добавить
</a>

<br />
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Тип питания</td>
            <td>Команды</td>
        </tr>
    </thead>
    <tbody>
        @foreach (TypeOfFood food in Model)
        {
            <tr>
                <td>@food.Title</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("EditTypeOfFood", "Admin", new { id = food.Id })">Редактировать</a>

                    @if (food.CanRemove)
                    {
                        <a class="btn btn-danger" href="@Url.Action("RemoveTypeOfFood", "Admin", new { id = food.Id })">Удалить</a>
                    }
                    else
                    {
                        <a class="btn btn-default disabled" href="@Url.Action("RemoveTypeOfFood", "Admin", new { id = food.Id })">Удалить</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-lg btn-info" href="@Url.Action("AddTypeOfFood", "Admin")">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    Добавить
</a>